.canvas {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
}

.pixel {
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

.pixel:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #000;
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0000ff;
}

.green {
    background-color: #00ff00;
}

.yellow {
    background-color: #ffff00;
}

/* Add more colors as needed */
